<%- include('../partials/header.ejs')%>
<main>
    <form method="POST" action="/items/<%= item.id%>?_method=PUT">
        <table>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" id="name" name="name" value = "<%= item.name%>" class = "fixed-width"></td>
            </tr>
            <tr><td class = "align-top"><label for="description">Description</label></td>
                <td><textarea rows="5" id="description" name="description" class = "fixed-width"><%= item.description%></textarea></td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button>Submit</button></td>
            </tr>
            </table>        
    </form>
</main>
<%- include('../partials/footer.ejs')%>
